@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.m-f{
    font-family: 'Aclonica', sans-serif;
    text-transform: uppercase;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/back-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.header{
    height: 100vh;
    color: #ffffff;
    line-height: 50px;
}

.header-content{
    padding-top: 40vh;
    text-align: center;
}
.header-content h1, .intro-content h1, .contact-section h1{
    font-size: 42px;
}
.header-content h2 span{
    color: #f1c11a;
    line-height: 100px;
}

.btn{
    background-color: transparent;
    border: 3px solid #ffffff;
    padding: 15px 35px;
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
    transition: all 400ms ease-in-out;
}

.btn-fill{
    background-color: #ffffff;
    color: #000000;
}
.btn-fill:hover{
    background-color: #f1c11a;
    border-color: transparent;
}
.btn-trans:hover{
    background-color: #f1c11a;
    color: #000000;
    border-color: transparent;
}

.intro{
    background-color: #ffffff;
    padding: 15vh 0;
}
.intro-content{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

.intro-content div{
    width: 50%;
}

.intro-text p{
    text-align: justify;
    color: #828282;
    line-height: 40px;
}

.services{
    background-color: #f1c11a;
    height: 50vh;
    clip-path: polygon(0 0, 15% 0, 50% 20%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    margin-top: -15vh;
}

.service-content{
    display: flex;
    flex-wrap: wrap;
}
.bucket{
    width: 25%;
    margin: 130px 3%;
    color: #ffffff;
}
.bucket p{
    color: #000000;
    text-align: justify;
    line-height: 25px;
}

.contact{
    background-color: #ffffff;
    padding: 10vh 0;
    text-align: center;
}
input[type='text'], input[type='email'], textarea{
    width: 100%;
    padding: 12px;
    border-color: 1px solid #cccccc;
}

.contact-section div{
    padding: 10px 3%;
}
.btn-submit{
    background-color: #000000;
    color: #ffffff;
}
.btn-submit:hover{
    background-color: #f1c11a;
    border-color: transparent;
    color: #000000;
}
footer{
    background-color: #f1c11a;
    clip-path: polygon(0 0, 15% 0, 50% 20%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    margin-top: -10vh;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 30px;
}

@media only screen and (max-width: 768px){
    .header-content h2{
        font-size: 20px;
    }
    .intro-content{
        display: block;
        height: 120vh;
    }
    .intro-text h1{
        text-align: center;
    }
    .intro-content div{
        width: 100%;
    }
    .services{
        height: 125vh;
        clip-path: polygon(0 0, 15% 0, 50% 5%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    .service-content{
        display: block;
        margin-top: -15vh;
        padding-top: 1px;
    }
    .bucket{
        width: 100%;
        margin: 80px 3%;
    }
    .bucket h1{
        text-align: center;
    }
}



@media only screen and (max-width: 685px){
    .header-content h2{
        font-size: 10px;
    }
}
@media only screen and (max-width: 585px){
    .header-content h1{
        font-size: 24px;
    }
    .services{
        height: 150vh;
    }
}
@media only screen and (max-width: 425px){
    .header-content{
        padding-top: 20vh;
    }
    .header-content h1, .intro-text h1, .contact-section h1{
        font-size: 28px;
        text-align: center;
    }

    .header-content h2{
        font-size: 12px;
    }
    
    .btn{
        display: block;
        line-height: 25px;
        margin:  10px auto;
        width: 90px;
        height: 25px;
    }
    .btn-message{
        line-height: 5px;
    }

    .intro-content{
        height: 125vh;
    }
    .services{
        height: 160vh;
    }
    .btn-submit{
        width: auto;
    }
}


@media only screen and (max-width: 410px){
    
    .header-content h2{
        font-size: 10px;
    }

}
@media only screen and (max-width: 375px){

    .header-content h1, .intro-text h1, .contact-section h1{
        font-size: 24px;
    }
    .header-content h2{
        font-size: 10px;
    }
    .services{
        height: 140vh;
    }
}

@media only screen and (max-width: 375px){
    .header-content h1, .intro-text h1, .contact-section h1{
        font-size: 20px;
    }
    .header-content h2{
        font-size: 8px;
    }
    .intro-content{
        height: 135vh;
    }
    .services{
        height: 190vh;
    }
}